
.DS_Store

*.pyc

*.py~

*.py#

pycallgraph.png

*.atlas~

*.json~

pyguts/spine/#Bone#

sword_pygame.py

pyguts/ImageAttachmentLoader.py

data/sword-skeleton.json

data/sword-animation.json

data/Star.png

data/Hilt.png

data/Blade.png

data/sword-stars.json

data/sword.atlas

data/sword.png

data/sword/Blade.png

data/sword/Hilt.png

data/sword/Star.png

spine_and_sword.py
